*{
    box-sizing: border-box;
}

/* Header formatting */
header{
    display: flex;
    padding: 1%
}
/* Header formatting */
#time{
float: right;
}

/* Adding padding to the body*/
body{
    padding: 5% 10% 0% 10%;
    
}

/* Formatting all buttons */
button{
    background-color: purple;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
}

/* Start Quiz button formatting to the center*/
.stQuiz{
    margin-left: 25%;
    margin-top: 30px;
}

/* common box to display the contents */
.rectanglebox{
    width: 100%;
    height: 500px;
    border-style: groove;
    padding: 2%;
}

/* View scores page formatting */
.viewhighscores{
    margin-right: 70%;
    color: indigo;
    text-decoration: none;
}

/* All questions page formatting */
.Questions{
    margin-left: 30%;
}

/* paragraph contents in start quiz page */
.startline1, .startline2, .startline3 {
    margin-left: 0%;
}

/* Formatting the start page header in bold */
.quizchallenge{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10%;
}

/* quiz page answer options formatting */
.quizPages div{
    white-space: nowrap;
}

/* quiz page answer options formatting */
.quizPages div button{
    display: BLOCK;
    padding: 1%;
    width: 120px;
}

/* initials page formatting */
.initialsPage{
    margin-left: 40%;
white-space: nowrap;
}

.initialsPage a{
    display: inline-block;
    padding: 1%;
}

.initialsPage input{
    display: inline-block;
    padding: 1%;
}
